

.container{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-x: hidden;
}

.titleContainer{
  margin-bottom: 2rem;
}

.bigText{
  font-family: 'BluuNext';
  font-style: normal;
  font-variant-caps: small-caps;
  font-size: 200px;
}

.mediumText{
  font-family: 'BluuNext';
  font-style: normal;
  font-variant-caps: small-caps;
  font-size: 150px;
}

.smallText{
  font-family: 'BluuNext';
  font-style: normal;
  font-variant-caps: small-caps;
  font-size: 100px;
}

.testBox{
  background-color: blueviolet;
  position: absolute;
}

.cover{
  transform-origin: center;
}

.bio{
  display: flex;
  align-items: center;
  padding-bottom: 6rem;
  margin-top: -2rem;
  width: min(50rem, 90vw);
}

.socialButtons{
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.bioText{
  display: flex;
  flex: 1;
  text-align: left;
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
  border-width: 5px;
  border-width: 2px;
}

.topPage{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: -8rem;
}

.bar {
  height: 80%;
  border-left-style: solid;
  border-left-width: 1.5px;
  margin-left: 4rem;
  margin-right: 3rem;
}

.whiteBackground {
  position: fixed;
  z-index: -10;
  width: 100vw;
  height: 100vh;
  background-color: white;
}

.footer {
  margin-top: 5rem;
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 2;
  border-top: groove .5rem;
}